.site-brand-container {
  background: #fff !important;
}

.header {
  background: #fff !important;
}

.site-meta {
  background: #fff !important;
}

.header-inner {
  background: #fff !important;
}

.menu {
  background: #fff !important;
}

.brand {
  background: #fff !important;
  padding: 0 !important;
  font-size: 3rem !important;
  color: #000 !important;
}

.brand:hover {
  color: #000 !important;
}

.site-title {
  color: #000 !important;
  font-size: 3rem !important;
  font-weight: 600 !important;
}

:root {
  --brand-color: #000 !important;
  --brand-hover-color: #000 !important;
}